h1{
    text-align:center;
}

body {
    background-color: #F1F9F2;
}

#error {
    padding: 14px;
    color: red;
}

input {
    width: 100%;
    padding: 6px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 7px;
}

div {
    padding: 3px;
}

#form {
    padding-top: 20px;
    border-radius: 5px;
    background-color: #DCEEE6;
    padding: 4px;
    margin-bottom: 30px;
}

#success {
    padding: 14px;
    background-color: #478F8A;
    color: #F2FAF3;
    font-size: larger;
}

